# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Operating System files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Uploads
uploads/*
!uploads/.gitkeep

# Logs
*.log

# Cached files
*.cache

